* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    cursor: url('/plane.png') 0 10, auto;
    font-family: 'IM Fell English', serif;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #D1C4E9;
}

.fixed-header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #B39DDB;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fixed-header h1 {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #4A148C;
    font-size: 2.5rem;
    margin-left: 15px;
}

.fixed-header .profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #4A148C;
}

#drawCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    z-index: 0;
    cursor: url('plane.png') 0 16, auto !important;
}

.bouncing-kaary {
    pointer-events: none;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}

